body {
  margin: 0;
  padding: 0;
  background: #F8F5F9;
}

.content {
  padding-top: 205px;
}

@media screen and (min-width: 300px) and (max-width: 400px) {
  .content {
    padding-top: 225px;
  }
}