body {
  margin: 0;
  padding: 0;
  background: #F8F5F9;
}

.content-header {
  background: #cf2835;
  height: 200px;
}

.logo {
  width: 200px;
  margin: 0 auto;
  padding: 0;
}

.logo img {
  width: 200px;
}

.searchPokemon {
  width: 600px;
  text-align: center;
  margin: 15px auto;
}

.searchPokemon input {
  background: transparent;
  border: none;
  padding: 16px;
  border-bottom: solid 2px #A6131E;
  font-size: 16px;
  color: #fff;
  width: 60%;
  transition:  all 1s ease;
  right: 0;
  font-weight: bold;
}

.searchPokemon input::placeholder {  
  color: #800009;
  font-weight: bold;
}

.searchPokemon input:focus {
  outline: none;
  border-color: #fff;
}

button.button-search {
  background: #fff;
  border: 2px solid #A6131E;
  box-shadow: 0 0 0 3px #fff;
  cursor: pointer;
  width: 130px;
  border-radius: 21px;
  padding: 4px;
  color: #A6131E;
  font-weight: bold;
  transition: 0.6s;
}

button.button-search img {
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
}

button.button-search:focus {
  outline: none;
}

.button-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button.button-search:active {
  transform: scale(1.1);
}
