.header {
  position: fixed;
  top: 0;
  background: blue;
  height: 200px;
  width: 100%;
  box-shadow: 0 1px 5px 0 #000;
}

@media screen and (min-width: 300px) and (max-width: 400px) {
  .header {
    height: 220px;
  }
}